.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.formContainer {
  width: 90%;
  max-width: 720px;
}

.icoButton {
  margin-right: 16px;
  color: #e6891d;
}